        </div>
    </main><!-- /.container -->
    <br><br><br>
    <hr>
    <p class="text-center">&COPY; ExpressEShopCart</p>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script src="//cdn.ckeditor.com/4.10.1/standard/ckeditor.js"></script>
    <script src="/js/main.js"></script>
  </body>
</html>


