                </div>
            </div>        

        </div>
    </main><!-- /.container -->
    <br><br><br>
    <hr>
    <p class="text-center">&COPY; ExpressEShop</p>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script src="/js/main.js"></script>
  </body>
</html>


